
.montserrat-osn {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

body {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    line-height: 24px;
    color: #000000;
    background-color:#FFFFFF;
    background-image: url("images/fon.jpg");
    background-size: 100% avto;
}

.navigation-item {
  display: inline;
  margin-right: 5px;
  padding: 3px;
 }

.main-osn{
    font-family: "Montserrat", sans-serif;
    color: #F5E52D;
    background-color:#FFFFFF;
    background-image: url("images/osn.jpg");
    background-size: 100%;
  }
.navigation{
  text-align: right;
}
.main-text{
  font-weight: 1500;
  margin-top: 16px;
  margin-bottom: 100px;
  position: relative;
  text-align: left;
  top: 50%;
  transform: translateY(300%);
}

.info_img {
display: inline-block;
display:flex; 
justify-content:space-between;
}
.ykaz{
  width: 42px;
  height: 44px;
  margin-top: 8%;
}
.img_text{
  text-align: center;
}

.gallery-title{
  text-align: center;
}
.gallery_text{
  text-align: center;
  
}
.skill{
  text-align: center;
}
.skill_spisok{
  text-align: center;
  list-style-position: inside;
  padding: 10px;
}


  /*
  
  .page-header {
    color:#000000;
    background: #FFFFFF;
  }
  
  .navigation-link {
    font-family: "Montserrat", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-osn{
    color: #F5E52D;
    background-color: #FFFFFF;
    background-image: url("images/osn.jpg");
    width: 1400px;height: 798px;
    background-repeat: no-repeat;
  }

 .logo{
  border-radius: 320px;
  width: 65px;
  height: 66px;
 }
 .main-index{
  background-image: url("images/bg.png");
    width: 1400px;
    height: 798px;
    background-repeat: no-repeat;
 }*/